<div class="right-sidebar2">
	<div class="wrapper">
		<ul class="stats">
			<li>
				<div class="left">
					<h4>
						15,859
					</h4>
					<p>
						Total Complaints
					</p>
				</div>
			</li>
			<li>
				<div class="left">
					<h4>
						$47,830
					</h4>
					<p>
						Overdue Complaints
					</p>
				</div>
			</li>
			<li>
				<div class="left">
					<h4>
						$98,846
					</h4>
					<p>
						High Complaints
					</p>
				</div>
			</li>
			<li>
				<div class="left">
					<h4>
						18,846
					</h4>
					<p>
						Normal Complaints
					</p>
				</div>
			</li>
			<li>
				<div class="left">
					<h4>
						22,571
					</h4>
					<p>
						Low Complaints
					</p>
				</div>
			</li>
		</ul>
	</div>

	<hr class="hr-stylish-1">

	<div class="wrapper">
		<div id="scrollbar">
			<div class="scrollbar">
				<div class="track">
					<div class="thumb">
						<div class="end">
						</div>
					</div>
				</div>
			</div>
			<div class="viewport">
				<div class="overview">
					<div class="featured-articles-container">
						<h5 class="heading">
							Recent Complaints
						</h5>
						<div class="articles">
							<% @recent_tickets.each do |recent| %>
							<a href="<%= ticket_path(recent) %>">
								<span class="label-bullet">
									&nbsp;
								</span>
								<%= recent.title %>
							</a>
							<% end %>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<hr class="hr-stylish-1">

	<div class="wrapper">
		<div id="scrollbar-two">
			<div class="scrollbar">
				<div class="track">
					<div class="thumb">
						<div class="end">
						</div>
					</div>
				</div>
			</div>
			<div class="viewport">
				<div class="overview">
					<div class="featured-articles-container">
						<h5 class="heading-blue">
							Overdue Complaints
						</h5>
						<div class="articles">
							<a href="#">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Hosting Made For WordPress
							</a>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>