<ul>
  
  <li>
    <a href="<%= employees_path(tab: "all_staff")%>" class="<%= 'selected' if params[:controller] == 'employees' && params[:tab] == 'all_staff' %>">
      Staff Directory
    </a>
  </li>
  <li>
    <a href="<%= employees_path(tab: "all_advisors")%>" class="<%= 'selected' if params[:controller] == 'employees' && params[:tab] == 'all_advisors' %>">
      Advisors Directory
    </a>
  </li>
</ul>