<div class="widget-body">
	<%= simple_form_for(@subject_staff, :html => {:class => 'form-horizontal' }) do |f| %>
	<%= f.input :subject_id, collection: @subject_list ,prompt: 'Select a subject'%>
	<%= f.association :advisor, prompt: 'Select an advisor', label_method: :full_name%>
	<%= f.association :staff, prompt: 'Select a staff', label_method: :full_name%>
	<div class="form-actions no-margin">
		<button type="submit" class="btn btn-info pull-right">
			Assign Employee
		</button>
		<div class="clearfix">
		</div>
	</div>
	<% end %>
</div>