<ul>
  <li><a href="#" class="heading">Students</a></li>
  <li>
    <a href="<%= students_path %>" class="<%= 'selected' if params[:controller] == 'students' && params[:action] == 'index' %>">
      Students Directory
    </a>
  </li>
</ul>