<ul>
  
  <li>
    <a href="<%= students_path(tab: 'all_students') %>" class="<%= 'selected' if params[:controller] == 'students' && params[:tab] == 'all_students' %>">
      Students Directory
    </a>
  </li>
</ul>