<div class="row-fluid">
	<div class="span12">
		<div class="widget">
			<div class="widget-header">
				<div class="title" id="complaints_per_employee">
					Students Directory
					<span class="mini-title">
					</span>
				</div>
			</div>

			<div class="widget-body">
				<div id="dt_example" class="example_alt_pagination">
					<table class="table table-condensed table-striped table-hover table-bordered pull-left" id="students">

						<thead>
							<tr>
								<th>ID</th>
								<th>Full Name</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @students.each do |student| %>
							<tr>
								<td><%= student.id %></td>
								<td><%= student.full_name %></td>
								<td><a href="<%= user_path(student.user_id) if student.user_id %>" class="btn" rel="tooltip" title="View Profile"><i class="icon-search"></i></a></td>
							</tr>
							<% end %>
						</tbody>
					</table>
					<div class="clearfix">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script>
$('#students').dataTable({
	"sPaginationType": "full_numbers"
});
</script>