	<br />
	<h5>
		Personal Information
	</h5>
	<hr>
<h6 style="font-style: italic">Full Name: <%= @user.employee.full_name %>
	<hr>
	Gender: <%= @user.employee.gender.capitalize %>
	<hr>
	Department: <%= @user.employee.employee_department.department_name %>
	<hr>
	Position: <%= @user.employee.employee_position.position_title %>
</h6>