<div class="right-sidebar">
	<div class="wrapper">
		<div id="scrollbar">
			<div class="scrollbar">
				<div class="track">
					<div class="thumb">
						<div class="end">
						</div>
					</div>
				</div>
			</div>
			<div class="">
				<div class="overview">
					<div class="featured-articles-container">
						<h5 class="heading-blue">
							User Management
						</h5>
						<div class="articles">

							<a href="<%= new_user_path %>">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Add New User
							</a>
							
							<a href="<%= new_employee_path %>">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Add New Employee
							</a>
							
							<a href="<%= new_student_path %>">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Add New Student
							</a>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
