<div class="left-sidebar">

	<div class="row-fluid">
		<div class="span12">
			<div class="widget no-margin">
				<div class="widget-header">
					<div class="title">
						<%= @user.email %> Profile
					</div>
				</div>
				<div class="widget-body">
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span3">
								<div class="thumbnail">
									<img alt="300x200" src="/assets/img/profile.png">
								</div>
							</div>
							<div class="span9">
								<form class="form-horizontal">
									<h5>
										Login Information
									</h5>
									<hr>
								
									<br />
									<h5>
										Personal Information
									</h5>
									<hr>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>