<div class="row-fluid">
	<div class="span12">
		<div class="widget">
			<div class="widget-header">
				<div class="title" id="users_directory">
					Users Directory
					<span class="mini-title"> 
					</span>
				</div>
			</div>

			<div class="widget-body">
				<div id="users_list" class="example_alt_pagination">
					<%= render 'users_list' %>
					<div class="clearfix">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
