<ul>
  <li><a href="#" class="heading">Users</a></li>
  <li>
    <a href="<%= users_path %>" class="<%= 'selected' if params[:controller] == 'users' && params[:action] == 'index' %>">
      Users Directory
    </a>
  </li>
</ul>
