<div class="left-sidebar">
	<div class="row-fluid">
		 <div class="span12">
            <div class="widget">
              <div class="widget-header">
                <div class="title">
                  Frequently Asked Questions
                </div>
              </div>
              <div class="widget-body">
                <div id="accordion1" class="accordion no-margin">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a href="#collapseOne" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                        Q1- Question
                      </a>
                    </div>
                    <div class="accordion-body in collapse" id="collapseOne" style="height: auto;">
                      <div class="accordion-inner">
                       Answer
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a href="#collapseTwo" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                        Q2- Question
                      </a>
                    </div>
                    <div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
                      <div class="accordion-inner">
                        Answer
                      </div>
                    </div>
                  </div>
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a href="#collapseThree" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle">
                        Q3- Question
                      </a>
                    </div>
                    <div class="accordion-body collapse" id="collapseThree" style="height: 0px;">
                      <div class="accordion-inner">
                        Answer
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
		
	</div>
</div>