 <div class="left-sidebar">    
        <div class="row-fluid">
          <div class="span12">
            <div class="widget">
              <div class="widget-header">
                <div class="title">
                  New FAQ
                  <span class="mini-title" style= 'display:none;'>
                   Add new FAQs
                  </span>
                </div>
             </div>
              <div class="widget-body">
	
				<%= simple_form_for(@faq, :html => {:class => 'form-horizontal' }) do |f| %>
				             
				              <%= f.input :faq_question, label: 'Question:', placeholder: 'Type a question', input_html: {class: 'input-xxlarge'} %>

				              <%= f.input :faq_answer, as: :text, label: "Answer:", placeholder: 'Answer goes here', input_html: {class: 'input-xxlarge', rows:'6'} %>
				              <%= f.input :category, collection: @subjects , include_blank: false, label_method: :to_label, prompt: 'Select A Subject', label: "Question's Category:",  input_html: {class: 'input-xlarge'} %>
	
                 <div class="form-actions no-margin">
                    <button type="submit" class="btn btn-info pull-right">
                      Add FAQ
                    </button>
                    <div class="clearfix">
                    </div>
                  </div>
                  
                </form>
                
              </div>
<% end %>
            </div>
          </div>
          
        </div>

</div>