<div class="right-sidebar">
	<% if current_user.head_of_department? %>
		<div class="wrapper">
		<div id="scrollbar-two">
			<div class="scrollbar">
				<div class="track">
					<div class="thumb">
						<div class="end">
						</div>
					</div>
				</div>
			</div>
			<div class="viewport">
				<div class="overview">
					<div class="featured-articles-container">
						<h5 class="heading-blue">
							Today's Complaints
						</h5>
						<div class="articles">
							<% @today_tickets.each do |today| %>
							<a href="<%= ticket_path(today) %>">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Ticket #<%= today.id %>
							</a>
							<% end %>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
<hr class="hr-stylish-1">
	<div class="wrapper">
		<div id="scrollbar">
			<div class="scrollbar">
				<div class="track">
					<div class="thumb">
						<div class="end">
						</div>
					</div>
				</div>
			</div>
			<div class="viewport">
				<div class="overview">
					<div class="featured-articles-container">
						<h5 class="heading-blue">
							Upcoming Complaints
						</h5>
						<div class="articles">
							<% @upcoming_tickets.each do |upcoming| %>
							<a href="<%= ticket_path(upcoming) %>">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Ticket #<%= upcoming.id %>
							</a>
							<% end %>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<br>
	<% end %>
</div>