<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      SWE Complaint System - H|U
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
  </head>
  <body>
     <%= render 'layouts/header'%>
    <div class="container-fluid">
      <div class="dashboard-container">
       	<%= render 'layouts/navbar' %>
		<div class="dashboard-wrapper">
         <%= render 'tickets/left-sidebar'%>
          
          </div>
      </div>
      <!--/.fluid-container-->
    </div>
    <%= render 'layouts/footer'%>
    
    <script src="/assets/js/jquery.min.js">
    </script>
    <script src="/assets/js/bootstrap.js">
    </script>
    
    <script type="text/javascript">
      //Tooltip
      $('a').tooltip('hide');

      //Popover
      $('.popover-pop').popover('hide');


      //Collapse
      $('#myCollapsible').collapse({
        toggle: false
      })
    </script>
  </body>
</html>