<div class="widget-body">
  <%= simple_form_for(@response, :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.input :canned_response, placeholder: 'Enter Canned Response' %>
  <div class="form-actions no-margin">
    <button type="submit" class="btn btn-info pull-right">Create Response</button>
    <div class="clearfix"></div>
  </div>
  <% end %>
</div>