<div class="widget-body">
	<%= simple_form_for(@subject, :html => {:class => 'form-horizontal' }) do |f| %>
	<%= f.input :subject_code, placeholder: 'Enter Subject Code', label: 'Subject Code' %>
	<%= f.input :subject_title, placeholder: 'Enter Subject Title', label: 'Subject Title' %>
	<div class="form-actions no-margin">
		<button type="submit" class="btn btn-info pull-right">
			Create Subject
		</button>
		<div class="clearfix">
		</div>
	</div>
	<% end %>
</div>
<script type="text/javascript">
	var subject_code = new LiveValidation('subject_subject_code');
	var subject_title = new LiveValidation('subject_subject_title');
	subject_code.add( Validate.Presence );
	subject_title.add(Validate.Presence);
</script>