<div class="right-sidebar">
	<div class="wrapper">
		<div id="scrollbar">
			<div class="scrollbar">
				<div class="track">
					<div class="thumb">
						<div class="end">
						</div>
					</div>
				</div>
			</div>
			<div class="">
				<div class="overview">
					<div class="featured-articles-container">
						<h5 class="heading-blue">
							Manage Subject
						</h5>
						<div class="articles">

							<a href="<%= new_subject_path %>", data-remote="true">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Add New Subject
							</a>
							
							<a href="<%= new_subject_staff_path %>" data-remote="true">
								<span class="label-bullet-blue">
									&nbsp;
								</span>
								Assign Subject to Staff and Advisors
							</a>
							
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
