<ul>
  <li><a href="#" class="heading">Subjects</a></li>
  <li>
    <a href="<%= subjects_path(tab: "all")%>" class="<%= 'selected' if params[:controller] == 'subjects' && params[:tab] == 'all' %>">
      All Subjects
    </a>
  </li>
  <li>
    <a href="<%= subjects_path(tab: "enrolled")%>" class="<%= 'selected' if params[:controller] == 'subjects' && params[:tab] == 'enrolled' %>">
      Enrolled Subjects
    </a>
  </li>
</ul>