<footer>
  <p>
<<<<<<< HEAD
    &copy; Academic Advising  2013 - <%=Time.now.beginning_of_year.strftime("%Y")%>
=======
    &copy; SWE | Helwan University  2013 - <%=Time.now.beginning_of_year.strftime("%Y")%>
>>>>>>> ccede0020a94bfc95d0b555b99297784cd882d81
  </p>
</footer>