<header>
  <a href="#" class="logo">
    <img src="/assets/swe-logo.png" alt="logo" />
  </a>
<% if current_user %>
  <div class="btn-group">
    <button class="btn btn-primary">
      <%= current_user.email %> (<%= current_user.user_type %>)
    </button>
    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
      <span class="caret">
      </span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li>
        <a href="<%= user_path(current_user) %>">
          Edit Profile
        </a>
      </li>
      <li>
        <a href="<%= destroy_user_session_path %>">
          Logout
        </a>
      </li>
    </ul>
  </div>
<% end %>
</header>