<div class="modal2 hide fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h5 class="modal-heading">Modal header</h5>
	</div>
	<div class="modal-body">
	</div>
</div>